<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.SysUserMapper">
    <insert id="addUser">
        insert into sysuser(username,password,age,createtime.upadtetime)
        values(#{user.username},#{user.password},#{user.age},#{createtime},#{updatetime})
    </insert>

    <select id="selectUserList" resultType="com.example.web.models.SysUser">
        select  * from sysuser where username=#{username}
    </select>
    <select id="selectUserById" resultType="com.example.web.models.SysUser">
        select  * from sysuser where id=#{id}
    </select>
    <select id="getUserByName" resultType="com.example.web.models.SysUser">
        select  * from sysuser where username=#{name}
    </select>
</mapper>